
.title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 1.7em;
    margin-bottom: 25px ;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.images_container img {    
    border: 2px solid gray;
     
}